ul {
  li {
    display: inline-flex;
    justify-content: center;
    align-self: center;

    a {
      width: 45px;
      height: 45px;
      padding: 10px;
      margin-right: 10px;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      cursor: pointer;
      color: #fe5f1e;
      text-align: center;

      &:hover {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }

  .selected {
    a {
      background-color: #fe5f1e;
      color: #fff;
    }
  }
}
